# Google Trends in Indonesia (2012-2020)

This is a curated dataset of Google Trends over the years. Every year, Google releases the trending search queries all over the world in various categories.It has trends from 2001 to 2020

In [101]:
# Data sourced from https://www.kaggle.com/dhruvildave/google-trends-dataset

import pandas as pd 
import matplotlib as plt

googletrends = pd.read_csv('C:/SyabaruddinFolder/Work/DATA/GoogleTrendsAnalysis/archive/trends.csv')
googletrends.head()

  location  year         category  rank  query
0   Global  2001  Consumer Brands     1  Nokia
1   Global  2001  Consumer Brands     2   Sony
2   Global  2001  Consumer Brands     3    BMW
3   Global  2001  Consumer Brands     4   Palm
4   Global  2001  Consumer Brands     5  Adobe

In [102]:
# Dimension of the dataframe
googletrends.shape

(26955, 5)

In [103]:
#Unique values from 'location column'. It shows where are the locations in every trends.

googletrends['location'].value_counts()

United States         2070
Global                1135
Japan                  765
Canada                 690
Brazil                 675
                      ...
Kuwait                   5
Honduras                 5
Dominican Republic       5
El Salvador              5
Sudan                    5
Name: location, Length: 83, dtype: int64

In [104]:
#Unique values from 'year' column. It shows in what year that the trends occured

googletrends['year'].value_counts()

2016    3040
2020    2980
2013    2890
2015    2790
2017    2610
2019    2605
2018    2560
2014    2320
2012    2225
2008     895
2011     890
2009     445
2003     155
2004     145
2002     110
2010      90
2006      75
2001      60
2007      60
2005      10
Name: year, dtype: int64

In [105]:
#Unique values from 'year' column. It shows the terms that the trends in google form 2001 to 2021

googletrends['query'].value_counts()

Paul Walker        84
Donald Trump       83
Facebook           62
Robin Williams     61
Whitney Houston    56
                   ..
Poodle              1
豪雨                  1
中国                  1
How old net         1
Vild Med Dans       1
Name: query, Length: 18431, dtype: int64

In [106]:
#We subset the location to Indonesia. This is to check what trends in Indonesia in Google search during 2001-2020 

indonesia = googletrends[googletrends['location']=='Indonesia']
indonesia = indonesia.loc[:,['year','category','rank','query']]
indonesia

       year    category  rank          query
3685   2012  Car Models     1    Toyota Agya
3686   2012  Car Models     2     Honda Brio
3687   2012  Car Models     3  Suzuki Ertiga
3688   2012  Car Models     4   Mobil Esemka
3689   2012  Car Models     5  Nissan Evalia
...     ...         ...   ...            ...
25160  2020    Siapa...     1   Bintang Emon
25161  2020    Siapa...     2       Hyun Bin
25162  2020    Siapa...     3   Kim Soo Hyun
25163  2020    Siapa...     4   Najwa Shihab
25164  2020    Siapa...     5   George Floyd

[415 rows x 4 columns]

In [107]:
#data recorded Indonesia only from 2012-2020
indonesia['year'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

## Indonesia Top 10 terms in 2012-2020

In [108]:
indonesiatop10 = indonesia['query'].value_counts().head(10)
indonesiatop10

Jokowi                 4
Paul Walker            3
Honda Brio             3
Pisang Nugget          2
Setya Novanto          2
Kartu Pra Kerja        2
Bucin                  2
Rohingya               2
Sakitnya Tuh Disini    2
Batu Akik              2
Name: query, dtype: int64

**wow, Our President, Pak 'Jokowi' is the most trending term in 2001-2020!**

In [109]:
indonesiajokowi = indonesia.loc[:,['year','query','category']].set_index('year')
indonesiajokowi = indonesiajokowi[indonesiajokowi['query']=='Jokowi']
indonesiajokowi

       query             category
year
2012  Jokowi  People (Indonesian)
2012  Jokowi             Searches
2014  Jokowi          Penelusuran
2017  Jokowi                Tokoh

**So, Our President 'Jokowi' was trending in 2012, 2014, and 2017!**

### Indonesia Top Google Trends every year from 2012-2020

**Below are Top Google trends on each category every year from 2012-2020**

#### Year 2012

In [110]:
year2012 = indonesia[indonesia['year']==2012].set_index('year')
year2012 = year2012[year2012['rank']==1]
year2012

                 category  rank               query
year
2012           Car Models     1         Toyota Agya
2012                Games     1         Angry Birds
2012     Indonesian Songs     1  Separuh Aku (Noah)
2012            Musicians     1                Noah
2012      People (Global)     1     Whitney Houston
2012  People (Indonesian)     1              Jokowi
2012             Searches     1       Gangnam Style

#### Year 2013

In [111]:
year2013 = indonesia[indonesia['year']==2013].set_index('year')
year2013 = year2013[year2013['rank']==1]
year2013

         category  rank        query
year
2013  Penelusuran     1  Paul Walker
2013        Tokoh     1  Paul Walker

#### Year 2014

In [112]:
year2014 = indonesia[indonesia['year']==2014].set_index('year')
year2014 = year2014[year2014['rank']==1]
year2014

                      category  rank                query
year
2014               Penelusuran     1               Jokowi
2014           Tokoh Indonesia     1      Aliando Syarief
2014           Berita Nasional     1         Pilpres 2014
2014                Apa Itu...     1                 ISIS
2014                    Gadget     1             iPhone 6
2014                      Lagu     1  Sakitnya Tuh Disini
2014                  Otomotif     1        Honda Mobilio
2014             Resep Makanan     1          Nasi Goreng
2014            Acara Televisi     1           Mahabarata
2014  Pertandingan Piala Dunia     1  Jerman Vs Argentina
2014             Aplikasi Chat     1                  BBM
2014            Penyanyi Korea     1                 SNSD

#### Year 2015

In [113]:
year2015 = indonesia[indonesia['year']==2015].set_index('year')
year2015 = year2015[year2015['rank']==1]
year2015

                     category  rank                               query
year
2015   Penelusuran Terpopuler     1                           Batu Akik
2015       Peristiwa Nasional     1                      Pembekuan PSSI
2015  Peristiwa Internasional     1                        Tragedi Mina
2015                    Tokoh     1                     Valentino Rossi
2015               Apa Itu...     1                               Baper
2015        Bagaimana Cara...     1  Bentuk Perut Six Pack Tanpa ke Gym
2015      Film Indonesia 2015     1                       Filosofi Kopi
2015                   Gadget     1                    Samsung Galaxy A
2015                     Game     1                  Point Blank Garena
2015                     Meme     1                    Meme Haji Lulung
2015        Mode & Kecantikan     1                       Celana Jogger
2015                    Resep     1                           Kue Cubit
2015                Selebriti     1                         Cita Citata

#### Year 2016

In [114]:
year2016 = indonesia[indonesia['year']==2016].set_index('year')
year2016 = year2016[year2016['rank']==1]
year2016

                              category  rank                query
year
2016            Penelusuran Terpopuler     1           Pokémon GO
2016                             Tokoh     1                 Ahok
2016                Peristiwa Nasional     1          Bom Sarinah
2016           Peristiwa Internasional     1        Panama Papers
2016                         Selebriti     1         Saipul Jamil
2016                             Atlet     1      Liliyana Natsir
2016                Peristiwa Olahraga     1       UEFA Euro 2016
2016                   Kepergian Tokoh     1          Mike Mohede
2016                              Lagu     1           Dia - Anji
2016                              Film     1      The Conjuring 2
2016                              Meme     1           Meme Valak
2016                    Bagaimana Cara     1  Cara Shalat Gerhana
2016                             Resep     1            Cake Tape
2016                        Dekat Sini     1     Salon Dekat Sini
2016  Teknologi (Gim, Aplikasi, Gawai)     1           Samsung Z2
2016                          Otomotif     1           Honda Brio

#### Year 2017

In [115]:
year2017 = indonesia[indonesia['year']==2017].set_index('year')
year2017 = year2017[year2017['rank']==1]
year2017

                     category  rank                                    query
year
2017   Penelusuran Terpopuler     1                 Surat Cinta untuk Starla
2017                    Tokoh     1                             Habib Rizieq
2017       Peristiwa Nasional     1                             Gunung Agung
2017  Peristiwa Internasional     1                                 Rohingya
2017                Selebriti     1                           Nella Kharisma
2017                     Lagu     1  Despacito - Luis Fonsi ft. Daddy Yankee
2017               Apa Itu...     1                                  Rubella
2017           Cara Menjadi..     1                                Selebgram
2017                    Resep     1                           Minuman Mangga

#### Year 2018

In [116]:
year2018 = indonesia[indonesia['year']==2018].set_index('year')
year2018 = year2018[year2018['rank']==1]
year2018

                    category  rank                    query
year
2018                    Film     1               Dilan 1990
2018                    Lagu     1          Karna Su Sayang
2018  Penelusuran Terpopuler     1  Piala Dunia Russia 2018
2018       Peristiwa Hiburan     1          Indonesian Idol
2018      Peristiwa Nasional     1             Bom Surabaya
2018               Selebriti     1             Nissa Sabyan

#### Year 2019

In [117]:
year2019 = indonesia[indonesia['year']==2019].set_index('year')
year2019 = year2019[year2019['rank']==1]
year2019

                    category  rank                query
year
2019              Apa itu...     1                Bucin
2019       Bagaimana cara...     1          Hidup sehat
2019                    Film     1                Joker
2019         Kepergian Tokoh     1           BJ Habibie
2019                    Lagu     1  Kemarin - Seventeen
2019  Penelusuran Terpopuler     1     Cinta Luar Biasa
2019      Peristiwa Nasional     1               Audrey
2019                   Resep     1        Pisang Nugget
2019                   Tokoh     1       Nadiem Makarim

#### Year 2020

In [118]:
year2020 = indonesia[indonesia['year']==2020].set_index('year')
year2020 = year2020[year2020['rank']==1]
year2020

                    category  rank                                   query
year
2020              Apa itu...     1                                Ghosting
2020       Bagaimana cara...     1                        Cara Daftar UMKM
2020                  Berita     1                         Kartu Pra Kerja
2020        Film / TV Series     1                                   Tilik
2020         Kepergian Tokoh     1                            Glenn Fredly
2020              Lirik Lagu     1  Lathi - Weird Genius - ft. Sara Fajira
2020  Penelusuran Terpopuler     1                            Virus Corona
2020                   Resep     1                                   Donat
2020                Siapa...     1                            Bintang Emon